<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/assets/YOOT.png" />
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <link rel="stylesheet" href="404.css" />
        <title>404 | Page Not Found</title>
    </head>
    <body>
        <lottie-player
            src="https://assets6.lottiefiles.com/packages/lf20_49yefrcy.json"
            background="transparent"
            speed="0.7"
            style="width: 55vh; height: 55vh"
            loop
            autoplay
        >
        </lottie-player>
        <a href="/" class="home">BACK HOME</a>
    </body>
</html>
