<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous"
        />
        <link rel="icon" type="image/png" href="/assets/YOOT.png" />
        <link rel="stylesheet" href="join.css" />
        <title>YOOT | Join Board</title>
    </head>
    <body>
        <div class="container">
            <div class="text">Join Board</div>
            <div class="boardtext">Board Name</div>
            <div class="boardinputtext">
                <input type="text" />
            </div>
            <div class="boardpassword">Password</div>
            <div class="boardinputpassword">
                <input type="text" />
            </div>
            <a href="/create" class="alternative">or Create Board</a>
            <a href="/trial" class="join">Join</a>

            <a href="/" class="fas fa-arrow-left"></a>
        </div>
    </body>
</html>
